In [2]:
import numpy as np
import pandas as pd

##1. Create a sample JSON object from titanic dataset

https://raw.githubusercontent.com/pcsanwald/kaggle-titanic/master/train.csv

In [31]:
csvObj = pd.read_csv('https://raw.githubusercontent.com/pcsanwald/kaggle-titanic/master/train.csv')
csvObj.head()
type(csvObj)

pandas.core.frame.DataFrame

In [12]:

jsonObj = csvObj.head(20).to_json()
jsonObj
type(jsonObj)

str

# Read the JSON object and convert it to pandas data frame

In [10]:
df = pd.read_json(jsonObj)
df.head()

,age,cabin,embarked,fare,name,parch,pclass,sex,sibsp,survived,ticket
0,22.0,None,S,7.2500,"Braund, Mr. Owen Harris",0,3,male,1,0,A/5 21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,1,female,1,1,PC 17599
10,4.0,G6,S,16.7000,"Sandstrom, Miss. Marguerite Rut",1,3,female,1,1,PP 9549
11,58.0,C103,S,26.5500,"Bonnell, Miss. Elizabeth",0,1,female,0,1,113783
12,20.0,None,S,8.0500,"Saundercock, Mr. William Henry",0,3,male,0,0,A/5. 2151

## match the top 5 records from JSON read and actual titanic dataset

## 2. read the HTML file as given below
http://vincentarelbundock.github.io/Rdatasets/datasets.html

In [38]:
htmlDataset = pd.read_html('http://vincentarelbundock.github.io/Rdatasets/datasets.html',header=0)
#htmlDataset[1]

## create a data frame from the above object

In [40]:
htmlDf = pd.DataFrame(htmlDataset[1])
htmlDf.head(10)

,Package,Item,Title,Rows,Cols,CSV,Doc
0,boot,acme,Monthly Excess Returns,60,3,CSV,DOC
1,boot,aids,Delay in AIDS Reporting in England and Wales,570,6,CSV,DOC
2,boot,aircondit,Failures of Air-conditioning Equipment,12,1,CSV,DOC
3,boot,aircondit7,Failures of Air-conditioning Equipment,24,1,CSV,DOC
4,boot,amis,Car Speeding and Warning Signs,8437,4,CSV,DOC
5,boot,aml,Remission Times for Acute Myelogenous Leukaemia,23,3,CSV,DOC
6,boot,beaver,Beaver Body Temperature Data,100,4,CSV,DOC
7,boot,bigcity,Population of U.S. Cities,49,2,CSV,DOC
8,boot,brambles,Spatial Location of Bramble Canes,823,3,CSV,DOC
9,boot,breslow,Smoking Deaths Among Doctors,10,5,CSV,DOC

## Create URL to JSON file (alternatively this can be a filepath)

In [42]:
url = 'https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json'
jdf = pd.read_json(url,orient='columns')
jdf.head()

    category            datetime  integer
0          0 2015-01-01 00:00:00        5
1          0 2015-01-01 00:00:01        5
10         0 2015-01-01 00:00:10        5
11         0 2015-01-01 00:00:11        5
12         0 2015-01-01 00:00:12        8